.guesscard-container {
  text-align: center;
}

.guesscard-img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
  border:6px solid rgb(213, 154, 59);
  box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}

.guesscard-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.guesscard-btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  /* margin: 0.5rem 1rem; */
  background-color: rgb(213, 154, 59);
  color: white;
  font-weight: bold;
  border-radius: 6px;
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 15px rgba(0, 0, 0, .2);
}

.guesscard-btn:hover:not(:disabled) {
  cursor: pointer;

  background-color: rgb(175, 120, 45);
  transform: scale(1.02);
}

.guesscard-btn:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.guesscard-btn.correct {
  background-color: #05b80b;

  font-weight: bold;
}

.guesscard-btn.incorrect {
  background-color: red;
  color: white;
}
