nav.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7rem;
    background-color: rgb(85, 40, 1);
    padding: 0 3rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 999;
  }
  
  #logo {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  
  #dog-logo {
    max-height: 4rem;
    margin-right: 1rem;
    border-radius: 100%;
  }
  
  .website-name {
    color: rgb(255, 195, 98);
    font-size: 45px;
    font-weight: 600;
  }
  
  /* Menu Styles */
  #navbar {
    display: flex;
    flex-direction: row;
    list-style: none;
    /* margin-right: 5rem; */
  }
  
  #navbar li {
    padding: 20px;
  }
  
  #navbar li a {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(255, 195, 98);
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in-out;
  }
  
  #navbar li a:hover {
    color: white;
    border-bottom: 2px solid rgb(255, 195, 98);
  }
  
  #navbar li a.active {
    border-bottom: 2px solid white;
  }
  
  /* Hamburger */
  .hamburger {
    display: none;
    font-size: 3rem;
    color: rgb(255, 195, 98);
    background: none;
    border: none;
    cursor: pointer;
  }
  
  /* Responsive styles */
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block;
      /* margin-right: 2rem; */
    }
  
    #navbar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 7rem;
      right: 0;
      background-color: rgb(85, 40, 1);
      width: 100%;
      text-align: center;
      margin: 0;
      padding: 1rem 0;
    }
  
    #navbar.open {
      display: flex;
    }
  
    #navbar li {
      padding: 1rem;
    }
  
    .website-name {
      font-size: 1.8rem;
    }
  
    nav.main-nav {
      padding: 0 1rem;
    }
  }
  