nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: aqua;
    /* padding: 20px 80px; */
}
#dog-logo{
    max-height: 4rem;
    border: 1rem;
    border-color: blue;
}
#navbar{
 display: flex;
 align-items: center;
 justify-content: center;
}
#navbar li{
list-style: none;
padding: 0 20px;
position: relative;
}
#navbar li a{
text-decoration: none;
font-size: 1.3rem;
font-weight: 600;
color: rgb(213, 154, 59);
transition: 0.3s ease-in-out;
}
#navbar li a:hover{
    color: blue;
}
#navbar li a:hover::after{
content: "";
width: 30%;
height: 2px;
background-color:rgb(213, 154, 59);
position: absolute;
bottom: -4px;
left: 20px;
}
.website-name {
    margin-left: 10px; 
    color: rgb(213, 154, 59); 
    font-size: 45px; 
  }